@model IEnumerable < Cooking_WebApi.Models.Receipe>
<html>
<head>
    >
    <link href="~/Content/StateWiseMenu.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary">@Html.ActionLink("Goto Main Menu", "VNBMenu", "Main")</button>
            </div>
            <div class="col-md-4">
                <h2 style="color:darkblue"><b>Beverage</b></h2>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:20px;">
        <div class="row">

            @*@foreach (Cooking_WebApi.Models.Receipe m in ViewBag.List)*@
            @foreach (var m in Model)
            {
                <div class="col-md-4" style="margin-top:20px">
                    <div class="card" style="width: 18rem;border-radius:4px 4px">
                        <img src="~/RecipeImg/@m.Photo" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title" style="font-weight:500;color:blue">@m.RName</h3>
                        </div>
                        <div class="card-body">
                            <span id="actlink" style="background: #3498DB;border-radius: 4px 5px;padding: 5px;border-top:1px solid #EAECEE">@Html.ActionLink("View Receipe", "Info", new { @id = m.RId })</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
